#fileInput{
    display: none;
}

#file-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sales-history{
    display: flex;
    flex-direction: column;
}

#message{
    padding: 15px;
    color: green;
}

#upload{
    font-size: 12px;
}